body {
  background-color: white;
  text-align: left;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 120%;
}

.flexcontainer {
  display: flex;
  position: fixed;
  flex-direction: column;
}

.box {
  width: 100%;
  height: 3%;
  margin: 2px;
}
.flexcontainer span {
  background-color: grey;
  padding: 1px;
}

div {
   /* border: 1px solid red; */
}

a {
  color:black;
  text-decoration: none;
}

.flexcontainer span:hover {
  background-color: #ff0055;
}
.flexcontainer a:hover{
  color:#ff0055;
}
/*/////////////////////////////////////////////////////*/
img {
  width: 100%;

}

#dude {
  position: absolute;
  left:400px;
  width:590px;
  top:-100px;
  z-index: -1;
}

#about {
  position: absolute;
  left:400px;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectEnable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
