html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  /* text-align: left; */
  text-align: justify;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 120%;

}

.flexcontainer {
  display: flex;
  position: fixed;
  flex-direction: column;
}

.box {
  width: 100%;
  height: 3%;
  margin:2px;
}
.flexcontainer span {
  background-color: grey;
  padding: 1px;
}
div {
   /* border: 1px solid red; */
}

a {
  color:black;
  text-decoration: none;
}

.flexcontainer span:hover {
  background-color: #ff0055;
}
.flexcontainer a:hover{
  color:#ff0055;
}

.contentcontainer {
  display: flex;
  flex-direction: column;
  width:650px;
  position: absolute;
  left:400px;

  text-align: left;
  font-family: 'Roboto Slab', serif;
}

.contentbox a{
  text-decoration: underline;
}
.contentbox a:hover {
  color:#ff0055;
  font-weight: bold;
}

.title {
  font-weight: bold;
}

#datazine {
  width: 100%;
}
.title p {
  /* background-color: ; */
}
.contentbox {
  margin:20px;
  padding: 10px;
  /* background-color: #ff0055; */
}

#nickcavegif {
  width:100%;
}
#manifesto {
  width: 100%;
}
#webcollagegif {
  width:100%;
}

#more1,#more2, #more3 {display: none;}


.contentcontainer button {
  display: inline-block;
  background-color: grey; /* Green */
  border: none;
  color: black;
  cursor: pointer;
  /* border-radius: 50%; */
}
.contentcontainer button:hover {
  background-color: #ff0055;
  color: #ff0055;
}
