body {
  background-color: white;
  text-align: left;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 120%;
}


.flexcontainer {
  display: flex;
  position: fixed;
  flex-direction: column;
}

.box {
  width: 100%;
  height: 3%;
  margin: 1px;
}
span {
  background-color: grey;
}

div {
   /* border: 1px solid red; */
}

a {
  color:black;
  text-decoration: none;
}

.flexcontainer span:hover {
  background-color: #ff0055;
}
.flexcontainer a:hover{
  color:#ff0055;
}


/*////////////////////////////////////////*/
.flexcontainer button {
  display: inline-block;
  background-color: grey; /* Green */
  border: none;
  color: black;
  cursor: pointer;
}
.flexcontainer button:hover {
  background-color: #ff0055;
  color:#ff0055;
}

#photodev {
  position: absolute;
  left: 260px;
  position: fixed;
}

img {
  width: 100%;
  width:300px;
}
#gallery {
  display: flex;
  width:1000px;
  flex-wrap: wrap;
  position: absolute;
  left:400px;
}
.photobox {
  width:300px;
  padding:50px;

}

#button {
  position: absolute;
  left:800px;
}
